<!DOCTYPE html>
<html class="has-background-dark" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    <%= headTitle %>: <%= configFunctions.getConfigProperty("application.applicationName") %>
  </title>
  
  <link rel="apple-touch-icon" sizes="180x180" href="<%= urlPrefix %>/images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="<%= urlPrefix %>/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="<%= urlPrefix %>/images/favicon/favicon-16x16.png" />
  <link rel="icon" type="image/svg+xml" href="<%= urlPrefix %>/images/favicon/favicon.svg" />
  <link rel="mask-icon" href="<%= urlPrefix %>/images/favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <link rel="shortcut icon" href="<%= urlPrefix %>/images/favicon/favicon.ico" />

  <link rel="stylesheet" href="<%= urlPrefix %>/stylesheets/style.css" />
  <link rel="stylesheet" href="<%= urlPrefix %>/lib/fa/css/all.min.css" />
</head>

<body style="min-height:100vh;">
  <div class="fixed-container is-fixed-bottom-right mx-4 my-4 has-text-right is-hidden-print">
    <button class="button is-circle is-primary has-tooltip-left" data-tooltip="Print" type="button" onclick="window.print()" autofocus>
      <i class="fas fa-print" aria-hidden="true"></i>
      <span class="is-sr-only">Print</span>
    </button>
  </div>
  <main class="container is-page">