<%- include('_header-print'); -%>

<% for (const callOutList of callOutLists) { %>
  <div style="break-inside: avoid;">
    <h1 class="title is-3 mb-0">
      <%= callOutList.listName %>
    </h1>

    <p>
      <%- (callOutList.listDescription ?? '').replace(/\n/g, '<br />') %>
    </p>

    <table class="table is-fullwidth is-fixed my-4">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Home Contact</th>
          <th>Sort Key</th>
        </tr>
      </thead>
      <tbody>
        <% for (const member of callOutList.callOutListMembers) { %>
          <tr>
            <td>
              <%= member.employeeSurname %>, <%= member.employeeGivenName %>
            </td>
            <td>
              <%= member.homeContact1 %><br />
              <%= member.homeContact2 %>
            </td>
            <td>
              <%= member.sortKey %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
<% } %>

<p class="has-text-right is-size-7 is-italic">
  <% const currentDate = new Date() %>
  Printed <%= currentDate.toLocaleDateString() %> at <%= currentDate.toLocaleTimeString() %>
</p>

<%- include('_footer-print'); -%>