<aside class="menu">
  <h2 class="menu-label">
    Employees
  </h2>
  <ul class="menu-list">
    <li>
      <a <%- ((headTitle === 'Employee Maintenance') ? ' class="is-active"' : '') %>
        href="<%= urlPrefix %>/admin/employees">
        <span class="icon">
          <i class="fas fa-fw fa-hard-hat" aria-hidden="true"></i>
        </span>
        <span>Employee Maintenance</span>
      </a>
    </li>
  </ul>
  <h2 class="menu-label">
    Application
  </h2>
  <ul class="menu-list">
    <li>
      <a <%- ((headTitle === 'Table Maintenance') ? ' class="is-active"' : '') %>
        href="<%= urlPrefix %>/admin/tables">
        <span class="icon">
          <i class="fas fa-fw fa-table" aria-hidden="true"></i>
        </span>
        <span>Table Maintenance</span>
      </a>
    </li>
    <li>
      <a <%- ((headTitle === 'User Maintenance') ? ' class="is-active"' : '') %>
        href="<%= urlPrefix %>/admin/users">
        <span class="icon">
          <i class="fas fa-fw fa-users" aria-hidden="true"></i>
        </span>
        <span>User Maintenance</span>
      </a>
    </li>
  </ul>
</aside>