<%- include('_header'); -%>

<div class="columns">
  <div class="column is-2">
    <%- include('_admin.menu.ejs') %>
  </div>
  <div class="column">


  </div>
</div>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/admin.employees.min.js"></script>

<%- include('_footerB'); -%>