<%- include('_header'); -%>

<div class="columns">
  <div class="column is-3"><%- include('_admin.menu.ejs') %></div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li class="is-active">
          <a href="#"> Administration </a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">
            <span>Table Maintenance</span>
          </a>
        </li>
      </ul>
    </nav>
    <h1 class="title is-1">Table Maintenance</h1>

    <div class="tabs is-boxed">
      <ul>
        <li class="is-active">
          <a href="#tab--absenceTypes">
            <span class="icon is-small">
              <i class="fas fa-table" aria-hidden="true"></i>
            </span>
            <span>Absence Types</span>
          </a>
        </li>
        <li>
          <a href="#tab--callOutResponseTypes">
            <span class="icon is-small">
              <i class="fas fa-table" aria-hidden="true"></i>
            </span>
            <span>Call Out Response Types</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tabs-container">
      <div id="tab--absenceTypes">
        <h2 class="title is-4">Absence Types</h2>
        <div id="container--absenceTypes"></div>
      </div>
      <div class="is-hidden" id="tab--callOutResponseTypes">
        <h2 class="title is-4">Call Out Response Types</h2>
        <div id="container--callOutResponseTypes"></div>
      </div>
    </div>
  </div>
</div>

<%- include('_footerA'); -%>

<script>
  exports.absenceTypes = <%- JSON.stringify(absenceTypes) %>;
  exports.callOutResponseTypes = <%- JSON.stringify(callOutResponseTypes) %>;
</script>

<script src="<%= urlPrefix %>/javascripts/admin.tables.min.js"></script>

<%- include('_footerB'); -%>
