<%- include('_header'); -%>

<div class="columns">
  <div class="column is-3">
    <aside class="menu" id="menu--attendance" style="position:sticky;top:60px">
      <% if ((configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')) || (configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView'))) { %>
        <h2 class="menu-label">
          Incoming
        </h2>
        <ul class="menu-list">
          <% if (configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')) { %>
            <li>
              <a href="#tab--absences">
                <span class="icon">
                  <i class="fas fa-fw fa-sign-out-alt" aria-hidden="true"></i>
                </span>
                <span>Absence Requests</span>
              </a>
            </li>
          <% } %>
          <% if (configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView')) { %>
            <li>
              <a href="#tab--returnsToWork">
                <span class="icon">
                  <i class="fas fa-fw fa-sign-in-alt" aria-hidden="true"></i>
                </span>
                <span>Returns to Work</span>
              </a>
            </li>
          <% } %>
        </ul>
      <% } %>
      <% if (configFunctions.getProperty('features.attendance.callOuts') && permissionFunctions.hasPermission(user, 'attendance.callOuts.canView')) { %>
        <h2 class="menu-label">
          Outgoing
        </h2>
        <ul class="menu-list">
          <li>
            <a class="is-active" href="#tab--callOuts">
              <span class="icon">
                <i class="fas fa-fw fa-phone" aria-hidden="true"></i>
              </span>
              <span>Call Out Lists</span>
            </a>
          </li>
        </ul>
      <% } %>
      <h2 class="menu-label">
        Reporting
      </h2>
      <ul class="menu-list">
        <li>
          <a href="#tab--employees">
            <span class="icon">
              <i class="fas fa-fw fa-hard-hat" aria-hidden="true"></i>
            </span>
            <span>Employees</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <div class="tabs-container" id="tabs-container--attendance">
      <% if (configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')) { %>
        <article class="is-hidden" id="tab--absences">
          <nav class="breadcrumb">
            <ul>
              <li class="is-active">
                <a href="#" aria-current="page">
                  Employee Attendance
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span>Absence Requests</span>
                </a>
              </li>
            </ul>
          </nav>
          <h1 class="title is-1">Absence Requests</h1>
        </article>
      <% } %>
      <% if (configFunctions.getProperty('features.attendance.callOuts') && permissionFunctions.hasPermission(user, 'attendance.callOuts.canView')) { %>
        <article id="tab--callOuts">
          <%- include('_attendance.callOuts.ejs'); -%>
        </article>
      <% } %>
      <% if (configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView')) { %>
        <article class="is-hidden" id="tab--returnsToWork">
          returnsToWork
        </article>
      <% } %>
      <article class="is-hidden" id="tab--employees">
        <%- include('_attendance.employees.ejs'); -%>
      </article>
    </div>
  </div>
</div>

<datalist id="datalist--employeePropertyNames">
  <% for (const propertyName of employeePropertyNames) { %>
  <option value="<%= propertyName %>" />
  <% } %>
</datalist>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/attendance.min.js"></script>
<script src="<%= urlPrefix %>/javascripts/attendance.employees.min.js"></script>

<% if (configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')) { %>
  <script src="<%= urlPrefix %>/javascripts/attendance.absences.min.js"></script>
<% } %>

<% if (configFunctions.getProperty('features.attendance.callOuts') && permissionFunctions.hasPermission(user, 'attendance.callOuts.canView')) { %>
  <script>
    exports.callOutLists = <%- JSON.stringify(callOutLists) %>;
    exports.callOutResponseTypes = <%- JSON.stringify(callOutResponseTypes) %>;
    exports.employeeEligibilityFunctionNames = <%- JSON.stringify(employeeEligibilityFunctionNames) %>;
    exports.employeeSortKeyFunctionNames = <%- JSON.stringify(employeeSortKeyFunctionNames) %>;

    exports.callOutsCanUpdate = <%= permissionFunctions.hasPermission(user, 'attendance.callOuts.canUpdate') ? 'true' : 'false' %>;
    exports.callOutsCanManage = <%= permissionFunctions.hasPermission(user, 'attendance.callOuts.canManage') ? 'true' : 'false' %>;
  </script>
  <script src="<%= urlPrefix %>/javascripts/attendance.callOuts.min.js"></script>
<% } %>

<% if (configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView')) { %>
  <script src="<%= urlPrefix %>/javascripts/attendance.returnsToWork.min.js"></script>
<% } %>

<%- include('_footerB'); -%>