<%- include('_header'); -%>

<h1 class="title is-1">
  <%= configFunctions.getProperty("application.applicationName") %>
</h1>

<div class="columns is-desktop">
  <div class="column">
    <% if (configFunctions.includeAttendance() && permissionFunctions.hasAttendance(user)) { %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
                <i class="fas fa-user-check"></i>
                <i class="fas fa-hard-hat" data-fa-transform="shrink-7 up-9 left-3" data-fa-glow></i>
              </span>
            </div>
            <a class="media-content" href="<%= urlPrefix %>/attendance">
              <h2 class="title is-4 is-marginless has-text-link">
                Employee Attendance
              </h2>
              <p>
                <% if (configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')) { %>
                  Track absence requests.
                <% } %>
                <% if (configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView')) { %>
                  Record return to work notices.
                <% } %>
                <% if (configFunctions.getProperty('features.attendance.callOuts') && permissionFunctions.hasPermission(user, 'attendance.callOuts.canView')) { %>
                  Manage employee call outs.
                <% } %>
              </p>
            </a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-4x fa-fw fa-file" aria-hidden="true"></i>
          </div>
          <a class="media-content" href="<%= urlPrefix %>/reports">
            <h2 class="title is-4 is-marginless has-text-link">
              Report Library
            </h2>
            <p>Produce reports and export data.</p>
          </a>
        </div>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-4x fa-fw fa-question-circle" aria-hidden="true"></i>
          </div>
          <a class="media-content" href="https://cityssm.github.io/monty/docs" target="_blank" rel="noopener noreferrer">
            <h2 class="title is-4 is-marginless has-text-link">
              Help
            </h2>
            <p>
              Instructions on how to use this application.
            </p>
          </a>
        </div>
        <a class="button is-fullwidth is-link is-light has-tooltip-bottom" data-tooltip="Latest Updates, Issue Tracker, Say Hello"
          href="https://github.com/cityssm/monty" target="_blank" rel="noreferrer">
          <span class="icon">
            <i class="fab fa-github" aria-hidden="true"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </div>
</div>

<% if (user.isAdmin) { %>
  <h2 class="title is-3">Administrator Tools</h2>
  
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
            <i class="fas fa-users"></i>
            <i class="fas fa-cog" data-fa-transform="shrink-8 right-8 down-5" data-fa-glow="10"></i>
          </span>
        </div>
        <a class="media-content" href="<%= urlPrefix %>/admin/users">
          <h2 class="title is-4 is-marginless has-text-link">
            User Maintenance
          </h2>
          <p>
            Manage users and permissions.
          </p>
        </a>
      </div>
    </div>
  </div>
<% } %>

<%- include('_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>