<%- include('_header'); -%>

<h1 class="title is-1">
  <%= configFunctions.getProperty("application.applicationName") %>
</h1>

<%
  const includeAbsences = configFunctions.getProperty('features.attendance.absences') && permissionFunctions.hasPermission(user, 'attendance.absences.canView')
  const includeReturnsToWork = configFunctions.getProperty('features.attendance.returnsToWork') && permissionFunctions.hasPermission(user, 'attendance.returnsToWork.canView')
  const includeCallOuts = configFunctions.getProperty('features.attendance.callOuts') && permissionFunctions.hasPermission(user, 'attendance.callOuts.canView')
  const includeAfterHours = configFunctions.getProperty('features.attendance.afterHours') && permissionFunctions.hasPermission(user, 'attendance.afterHours.canView')
%>
<% if (configFunctions.includeAttendance() && permissionFunctions.hasAttendance(user)) { %>
  <div class="card mb-4">
    <div class="card-content">
      <div class="columns is-desktop">
        <div class="column">
          <div class="media">
            <div class="media-left">
              <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
                <i class="fas fa-hard-hat"></i>
                <i class="fas fa-check" data-fa-transform="shrink-8 right-8 down-5" data-fa-glow="10"></i>
              </span>
            </div>
            <a class="media-content" href="<%= urlPrefix %>/attendance">
              <h2 class="title is-4 is-marginless has-text-link">
                Employee Attendance
              </h2>
              <p>
                <% if (includeAbsences) { %>
                  Track absence requests.
                <% } %>
                <% if (includeReturnsToWork) { %>
                  Record return to work notices.
                <% } %>
                <% if (includeCallOuts) { %>
                  Manage employee call outs.
                <% } %>
                <% if (includeAfterHours) { %>
                  Track after hours attendance.
                <% } %>
              </p>
            </a>
          </div>
        </div>
        <% if (includeCallOuts && callOutLists.length > 0) { %>
          <div class="column">
            <h2 class="title is-5">Favourite Call Out Lists</h2>
            <div id="container--favouriteCallOutLists" class="panel"></div>
          </div>
        <% } %>
        <% if (includeAbsences || includeReturnsToWork) { %>
          <div class="column">
            <div class="tabs is-boxed">
              <ul role="presentation">
                <% if (includeAbsences) { %>
                  <li class="is-active">
                    <a href="#tab--attendance-absences">
                      <span>Absences</span>
                      <span class="tag ml-2"><%= absenceRecords.length %></span>
                    </a>
                  </li>
                <% } %>
                <% if (includeReturnsToWork) { %>
                  <li>
                    <a href="#tab--attendance-returnsToWork">
                      <span>Returns to Work</span>
                      <span class="tag ml-2"><%= returnToWorkRecords.length %></span>
                    </a>
                  </li>
                <% } %>
              </ul>
            </div>
            <div class="tabs-container">
              <% if (includeAbsences) { %>
                <div id="tab--attendance-absences">
                  <% if (absenceRecords.length === 0) { %>
                    <div class="message is-info">
                      <p class="message-body is-size-7">
                        There are no absence records for today.
                      </p>
                    </div>
                  <% } else { %>
                    <div class="panel">
                      <% for (const absenceRecord of absenceRecords) {%>
                        <div class="panel-block is-block">
                          <div class="columns is-mobile">
                            <div class="column is-4">
                              <strong data-tooltip="Absence Date">
                                <%= dateTimeFunctions.dateToString(absenceRecord.absenceDateTime) %>
                              </strong>
                            </div>
                            <div class="column">
                              <strong><%= absenceRecord.employeeName %></strong><br />
                              <span data-tooltip="Absence Type"><%= absenceRecord.absenceType %></span>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  <% } %>
                </div>
              <% } %>
              <% if (includeReturnsToWork) { %>
                <div class="is-hidden" id="tab--attendance-returnsToWork">
                  <% if (returnToWorkRecords.length === 0) { %>
                    <div class="message is-info">
                      <p class="message-body is-size-7">
                        There are no return to work records for today.
                      </p>
                    </div>
                  <% } else { %>
                    <div class="panel">
                      <% for (const returnToWorkRecord of returnToWorkRecords) {%>
                        <div class="panel-block is-block">
                          <div class="columns is-mobile">
                            <div class="column is-4">
                              <strong data-tooltip="Return Date">
                                <%= dateTimeFunctions.dateToString(returnToWorkRecord.returnDateTime) %>
                              </strong>
                            </div>
                            <div class="column">
                              <strong><%= returnToWorkRecord.employeeName %></strong><br />
                              <span data-tooltip="Return Shift"><%= returnToWorkRecord.returnShift %></span>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% } %>

<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-4x fa-fw fa-file" aria-hidden="true"></i>
          </div>
          <a class="media-content" href="<%= urlPrefix %>/reports">
            <h2 class="title is-4 is-marginless has-text-link">
              Report Library
            </h2>
            <p>Produce reports and export data.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <i class="fas fa-4x fa-fw fa-question-circle" aria-hidden="true"></i>
          </div>
          <a class="media-content" href="https://cityssm.github.io/MonTY/docs" target="_blank" rel="noopener noreferrer">
            <h2 class="title is-4 is-marginless has-text-link">
              Help
            </h2>
            <p>
              Instructions on how to use this application.
            </p>
          </a>
        </div>
        <a class="button is-fullwidth is-link is-light has-tooltip-bottom" data-tooltip="Latest Updates, Issue Tracker, Say Hello"
          href="https://github.com/cityssm/MonTY" target="_blank" rel="noreferrer">
          <span class="icon">
            <i class="fab fa-github" aria-hidden="true"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </div>
</div>

<% if (user.isAdmin) { %>
  <h2 class="title is-3">Administrator Tools</h2>
  
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
            <i class="fas fa-hard-hat"></i>
            <i class="fas fa-cog" data-fa-transform="shrink-8 right-8 down-5" data-fa-glow="10"></i>
          </span>
        </div>
        <a class="media-content" href="<%= urlPrefix %>/admin/employees">
          <h2 class="title is-4 is-marginless has-text-link">
            Employee Maintenance
          </h2>
          <p>
            Manage employees and their attributes.
          </p>
        </a>
      </div>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
            <i class="fas fa-table"></i>
            <i class="fas fa-cog" data-fa-transform="shrink-8 right-8 down-5" data-fa-glow="10"></i>
          </span>
        </div>
        <a class="media-content" href="<%= urlPrefix %>/admin/tables">
          <h2 class="title is-4 is-marginless has-text-link">
            Table Maintenance
          </h2>
          <p>
            Maintain configuration tables.
          </p>
        </a>
      </div>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <span class="fa-layers fa-4x fa-fw" aria-hidden="true">
            <i class="fas fa-users"></i>
            <i class="fas fa-cog" data-fa-transform="shrink-8 right-8 down-5" data-fa-glow="10"></i>
          </span>
        </div>
        <a class="media-content" href="<%= urlPrefix %>/admin/users">
          <h2 class="title is-4 is-marginless has-text-link">
            User Maintenance
          </h2>
          <p>
            Manage users and permissions.
          </p>
        </a>
      </div>
    </div>
  </div>
<% } %>

<%- include('_footerA'); -%>

<% if (includeCallOuts) { %>
  <script>
    exports.callOutLists = <%- JSON.stringify(callOutLists) %>;
    exports.callOutResponseTypes = <%- JSON.stringify(callOutResponseTypes) %>;
  </script>
  <script src="<%= urlPrefix %>/javascripts/main.callOuts.min.js"></script>
<% } %>

<script src="<%= urlPrefix %>/javascripts/dashboard.min.js"></script>

<%- include('_footerB'); -%>